<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStringCounter" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59161/StringCounterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStringCounter"
                contract="IStringCounter" name="BasicHttpBinding_IStringCounter" />
        </client>
    </system.serviceModel>
</configuration>